<p-tabView>
  <p-tabPanel header="Clock">
    <div class="clock">
      {{currentTime() | date : 'H:mm:ss'}}
    </div>
  </p-tabPanel>
  <p-tabPanel header="Timer">
    Here must be a timer that allows the user to select an amount of times (in minutes and seconds) and then shows the
    remaining time in minutes and seconds until it is finished.
    <div class="timer-container">
      <div class="time-selectors">
        <div class="time-selector">
          <p-knob [ngModel]="timeLeftDisplay()?.minutes" (ngModelChange)="selectedMinutes.set($event)" [min]="0" [max]="60" [size]="300" />
          <label>Minutes</label>
        </div>
        <div class="time-selector">
          <p-knob [ngModel]="timeLeftDisplay()?.seconds" (ngModelChange)="selectedSeconds.set($event)" [min]="0" [max]="60" [size]="300" />
          <label>Seconds</label>
        </div>
      </div>
      <div class="actions">
        <p-button [label]="'Start'" (click)="startTimer$.next()"/>
        <p-button [label]="paused() ? 'Resume' : 'Pause'" (click)="paused.set(!paused())" />
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="World Time" layout="list">
    Here must be a list of cities that shows the current time in each city. A dropdown must be provided to allow the
    user to select other cities. See <a href="https://worldtimeapi.org/" target="_blank">https://worldtimeapi.org/</a>
    for options.
    <p-panel header="Time in the world">
      <p-multiSelect [options]="timezones()" [ngModel]="selectedTimezones()" (ngModelChange)="addLocation($event)" placeholder="Add new location" />

      @for (time of timeInLocations(); track time.timezone) {
        <p>Time in {{time.timezone}} is {{time.datetime | date : 'H:mm'}}</p>
      }
    </p-panel>
  </p-tabPanel>
</p-tabView>